<button *ngIf="token" (click)="logout()">Logout</button>

<!-- Ejemplo de forms reactivos -->
<!-- <app-form></app-form> -->

<!-- Ejemplo de forms anidado -->
<!-- <app-form-nested></app-form-nested> -->

<!-- Ejemplo de colecciones de forms -->
<!-- <app-form-array></app-form-array> -->

<!-- Ejemplo de forms validados -->
<!-- <app-form-validated></app-form-validated> -->

<!-- Ejemplos de PIPES -->
<!-- <app-pipes-example></app-pipes-example> -->

<!-- Test loginPage and loginForm -->
<!-- <app-login-page></app-login-page> -->

<!-- ROUTES -->
<router-outlet></router-outlet>
