<h1>
    <ng-container *ngIf="randomContact; else noContact">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <img [src]="randomContact.picture.thumbnail" alt="Avatar" />
                </div>
                <mat-card-title>
                    {{ randomContact.name.title }}
                    {{ randomContact.name.first }}
                    {{ randomContact.name.last }}</mat-card-title
                >
                <mat-card-subtitle>
                    {{ randomContact.email }}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>
                    {{ randomContact.location.country }}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button>Select</button>
                <button mat-button>Return</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <ng-template #noContact>
        <h1>Loading contact</h1>
        <mat-spinner></mat-spinner>
    </ng-template>
</h1>
